*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 10px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 60px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.all1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

i{
    font-size: 70px;
    margin-bottom: 20px;
}

.p{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.bg{
    border: 1.5px solid #000;
    border-radius: 15px;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butInput{
    cursor: pointer;
    outline: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid;
}

.butInput:hover{
    background-color: #000;
    color: #fff;
}

.numInput{
    outline: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid;
}